nav {
  background: hsla(0, 0%, 100%, 0);
  backdrop-filter: blur(30px);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.29);
}
body {
  background-color: #e0eff0;
}
.about {
  background-color: #3d4e7d;
  color: #e0eff0;
}
.about h1 {
  color: white;
}
a {
  text-decoration: none;
  color: cornflowerblue;
}
.container img {
  max-width: 100%;
  max-height: 100%;
}
.elo-frame {
  height: 165px;
  background-size: cover;
}
#navDropdown {
  background: rgb(224, 239, 240);
  backdrop-filter: blur(30px);
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.29);
}
/* .card-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
} */
.project-page {
  margin-top: 20px;
}
main {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.section-block {
  width: 100%;
  height: 300px;
  border: black solid 1px;
}
.section-block:nth-child(1) {
  background-color: #e76f51;
}
.section-block:nth-child(2) {
  background-color: #f4a261;
}
.section-block:nth-child(3) {
  background-color: #e9c46a;
}
.section-block:nth-child(4) {
  background-color: #2a9d8f;
}
.section-block:nth-child(5) {
  background-color: #264653;
}
.coding-page {
  background-color: #e76f51;
}
