nav {
	background: hsla(0, 0%, 100%, 0);
	backdrop-filter: blur(30px);
	box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.29);
}
body {
	background-color: #e0eff0;
}
.about {
	background-color: #3d4e7d;
	color: #e0eff0;
}
.about h1 {
	color: white;
}
a {
	text-decoration: none;
	color: #3d4e7d;
}
.container img {
	max-width: 100%;
	max-height: 100%;
}
.elo-frame {
	height: 165px;
	background-size: cover;
}
#navDropdown {
	background: rgb(224, 239, 240);
	backdrop-filter: blur(30px);
	box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.29);
}
/* .card-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
} */
.project-page {
	margin-top: 20px;
}
.projects-page {
	background-color: linen;
}

.home-page {
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.2)
		),
		url("../images/rainbow.jpg");
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.teaching-page {
	background-color: lightgray;
}
main {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
