#colors-page {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10%;
}

#colorBtn {
  font-size: 50px;
  border-radius: 10px;
  transition: 100ms;
  background-color: white;
  margin-top: 20%;
}
#colorBtn:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
  cursor: pointer;
}
#colorBtn:active {
  transform: unset;
}
