h1,
h2 {
  text-align: center;
}
#pokemon-container {
  margin: 20px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon {
  display: inline-block;
  text-align: center;
  border: black solid 1px;
  cursor: pointer;
  transition: 500ms;
}

.pokemon span {
  display: block;
  background-color: rgb(32, 39, 59);
  color: aliceblue;
}

.pokemon:hover {
  transform: scale(2);
  background-color: #c2d1eaec;
}

.pokemon:active img {
  transform: rotate(45deg);
}
